@import "tailwindcss";
@import "./fonts.css";

@theme {
  --color-main-0: #222222;
  --color-main-17: #514e4e;
  /* 20 from margin top + 10 from layout bottom margin in Layout */
  --spacing-full-without-menu-mobile: calc(100dvh - 30 * var(--spacing));
  /* 12 from margin top + 10 from layout bottom margin in Layout */
  --spacing-full-without-menu-desktop: calc(100dvh - 22 * var(--spacing));
  --font-playfair: "Playfair", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-roboto-condensed: "Roboto Condensed", sans-serif;
  --breakpoint-fhd: 1920px;
  --breakpoint-4k: 1440px;

  --animate-slow-bounce: slow-bounce 2s ease-in-out infinite;
  @keyframes slow-bounce {
    0%,
    100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}
