---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <article class="h-full-without-menu w-full font-sans">
    <section
      class="sm:absolute sm:top-1/2 sm:left-1/2 sm:-translate-x-1/2 sm:-translate-y-1/2 flex flex-col gap-8"
    >
      <h1 class="text-4xl sm:text-5xl font-bold font-playfair text-main-0">
        ¿Listo para crear algo original juntos?
      </h1>
      <p class="text-xl text-main-0">Sin formularios. Solo creatividad en bandeja de entrada.</p>
      <ul class="list-disc list-outside ml-6 flex flex-col gap-4 sm:mt-4">
        <li class="text-main-17 font-bold">
          <span class="text-black">Teléfono:</span><a class="underline" href="tel:659020036">
            659020036</a
          >
        </li>
        <li class="text-main-17 font-bold">
          <span class="text-black">Email:</span>
          <a class="underline" href="mailto:dalialopezrubio@gmail.com" target="_blank"
            >dalialopezrubio@gmail.com</a
          >
        </li>
        <li class="text-main-17 font-bold">
          <span class="text-black">LinkedIn:</span>
          <a
            href="https://www.linkedin.com/in/dalia-rubio-829b0616b"
            target="_blank"
            class="underline">www.linkedin.com/in/dalia-rubio-829b0616b</a
          >
        </li>
      </ul>
    </section>
  </article>
</Layout>
