---
import Illustrations from "@/components/home/Illustrations.astro"
import Reviews from "@/components/home/Reviews.astro"
import DesignTrilogy from "@components/home/DesignTrilogy.astro"
import Front from "@components/home/Front.astro"
import MyCreativeTrip from "@components/home/MyCreativeTrip.astro"
import Layout from "@layouts/Layout.astro"
import Preloader from "@/components/home/Preloader.astro"
import Introduction from "@/components/home/Introduction.astro"
---

<Layout>
  <Preloader />
  <Introduction />
  <article>
    <Front />
    <div class="flex flex-col mt-10 gap-10 sm:gap-28">
      <Reviews />
      <DesignTrilogy />
      <MyCreativeTrip />
      <Illustrations />
    </div>
    <script>
      import("../scripts/intro").then((mod) => mod.initIntro())

      document.addEventListener("astro:after-swap", () => {
        import("../scripts/intro").then((mod) => mod.initIntro())
      })

      window.addEventListener("load", () => {
        const preloader = document.getElementById("preloader")
        if (preloader) {
          // Puedes hacer un fade out suave
          preloader.style.transition = "opacity 1s ease"
          preloader.style.opacity = "0"
          setTimeout(() => preloader.remove(), 1000) // eliminar del DOM
        }
      })
    </script>
  </article>
</Layout>
