---
import Illustrations from "@/components/home/Illustrations.astro"
import Reviews from "@/components/home/Reviews.astro"
import DesignTrilogy from "@components/home/DesignTrilogy.astro"
import Front from "@components/home/Front.astro"
import MyCreativeTrip from "@components/home/MyCreativeTrip.astro"
import Layout from "@layouts/Layout.astro"
import frameFullImage from "@assets/images/frame-full.jpeg"
import frameEmptyImage from "@assets/images/frame-empty.png"
import Icon from "@/components/Icon.astro"
const year = new Date().getFullYear()
---

<Layout>
  <section id="intro" class="fixed top-0 left-0 h-screen w-screen overflow-hidden">
    <div
      id="portfolio-title"
      class="hidden sm:flex absolute bottom-1/12 left-[7%] text-white text-[8vw] z-50 font-inter flex-col items-end gap-0 leading-44 tracking-wider"
    >
      <h1>Portfolio</h1>
      <span class="-mr-24">{year}</span>
    </div>
    <div
      class="text-white animate-bounce block sm:hidden absolute bottom-6 left-1/2 -translate-x-1/2 z-50"
    >
      <Icon icon="arrow-fat-lines-down" size="48px" />
    </div>
    <!-- Imagen cuadro vacío -->
    <img
      id="frame"
      src={frameEmptyImage.src}
      alt="Cuadro"
      class="absolute top-0 left-0 w-full h-full object-cover z-20"
    />
    <!-- Imagen cuadro con contenido -->
    <img
      id="painting"
      src={frameFullImage.src}
      alt="Cuadro con contenido"
      class="absolute top-0 left-0 w-full h-full object-cover z-10"
    />
  </section>
  <article>
    <Front />
    <div class="flex flex-col mt-10 gap-10 sm:gap-28">
      <Reviews />
      <DesignTrilogy />
      <MyCreativeTrip />
      <Illustrations />
    </div>
    <script>
      import("../scripts/intro").then((mod) => mod.initIntro())

      document.addEventListener("astro:after-swap", () => {
        import("../scripts/intro").then((mod) => mod.initIntro())
      })
    </script>
  </article>
</Layout>

<style>
  #intro {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50; /* más alto que el nav por defecto */
  }
</style>
