---
import Icon from "@/components/Icon.astro"
import frameEmptyImage from "@assets/images/frame-empty.png"
import frameFullImage from "@assets/images/frame-full.png"
const year = new Date().getFullYear()
---

<section id="intro" class="fixed top-0 left-0 h-screen w-screen overflow-hidden">
  <div
    id="portfolio-title"
    class="top-10 text-6xl left-1/2 -translate-x-1/2 sm:translate-x-0 sm:top-auto flex absolute sm:bottom-1/4 sm:left-[4%] text-white sm:text-[8vw] z-50 font-playfair flex-col items-center sm:items-end gap-12 sm:gap-24 leading-0 tracking-wider"
  >
    <h1>Portfolio</h1>
    <span class="sm:-mr-16">{year}</span>
  </div>
  <div
    id="scroll-cheer"
    class="text-white animate-slow-bounce opacity-75 absolute bottom-28 sm:bottom-6 left-1/2 -translate-x-1/2 z-50"
  >
    <Icon icon="caret-double-down" size="48px" />
  </div>
  <!-- Imagen cuadro vacío -->
  <img
    id="frame"
    src={frameEmptyImage.src}
    alt="Cuadro"
    class="absolute top-0 left-0 w-full h-full object-cover z-20"
  />
  <!-- Imagen cuadro con contenido -->
  <img
    id="painting"
    src={frameFullImage.src}
    alt="Cuadro con contenido"
    class="absolute top-0 left-0 w-full h-full object-cover z-10"
  />
</section>

<style>
  #intro {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 60; /* más alto que el nav por defecto */
  }
</style>
