---
import Icon from "@/components/Icon.astro"
---

<div
  id="preloader"
  class="fixed inset-0 z-[60] flex items-center justify-center bg-main-0 text-white px-2"
>
  <div class="text-2xl font-semibold flex items-center gap-3">
    <span class="animate-spin"><Icon icon="spinner" size="32px" /></span>
    <span>Gracias por visitarme! solo un segundo, ya está casi todo listo =)</span>
  </div>
</div>
