---
import Project from "@/layouts/Project.astro"

// NAVITEMS
// El reto
// El proceso
// Desk research
// Il Benchmark
// Arquitectura de la información
// Wireframes
// Pantallas finales + Design System + Dark Mode
// Conclusiones y futuribles
// Aprendizaje
---

<Project
  title="Rediseño integral de Plataforma de Ciberseguridad ( Cipher )"
  titleIcon="fingerprint-simple"
  rol="Product Designer"
  duration="2 años"
  typeOfProject="Rediseño completo de producto digital B2B"
  tools={["Figma", "Miro", "Storybook"]}
  navItems={[
    { title: "El reto", anchor: "challenge", icon: "puzzle-piece" },
    { title: "El proceso", anchor: "process", icon: "magnifying-glass" },
    { title: "Desk research", anchor: "desk-research", icon: "arrows-counter-clockwise" },
    { title: "Il Benchmark", anchor: "benchmark", icon: "chart-bar" },
    {
      title: "Arquitectura de la información",
      anchor: "information-architecture",
      icon: "chart-polar",
    },
    { title: "Wireframes", anchor: "wireframes", icon: "pencil-line" },
    {
      title: "Pantallas finales + Design System + Dark Mode",
      anchor: "final-screens",
      icon: "palette",
    },
    { title: "Conclusiones y futuribles", anchor: "conclusions", icon: "rocket-launch" },
    { title: "Aprendizaje personal", anchor: "learning", icon: "brain" },
  ]}
>
  <div>
    <section id="challenge" class="bg-amber-200">EL RETO</section>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error atque sapiente exercitationem facilis,
    eius quaerat impedit tempore, officiis, laudantium minima vitae alias voluptas nostrum in odit ratione
    porro sunt similique? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio doloremque,
    accusamus similique non eveniet culpa natus animi ipsum cumque accusantium vero cum eius consequuntur
    inventore voluptatem enim reiciendis iste saepe? Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Iure ipsum non laborum voluptatum autem consequuntur, temporibus possimus eum iusto eveniet
    suscipit nisi aliquam nihil omnis delectus consequatur harum facere similique? Lorem ipsum dolor
    sit amet, consectetur adipisicing elit. Optio doloremque, accusamus similique non eveniet culpa natus
    animi ipsum cumque accusantium vero cum eius consequuntur inventore voluptatem enim reiciendis iste
    saepe? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsum non laborum voluptatum
    autem consequuntur, temporibus possimus eum iusto eveniet suscipit nisi aliquam nihil omnis delectus
    consequatur harum facere similique? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio
    doloremque, accusamus similique non eveniet culpa natus animi ipsum cumque accusantium vero cum eius
    consequuntur inventore voluptatem enim reiciendis iste saepe? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Iure ipsum non laborum voluptatum autem consequuntur, temporibus possimus eum iusto
    eveniet suscipit nisi aliquam nihil omnis delectus consequatur harum facere similique? Lorem ipsum
    dolor sit amet, consectetur adipisicing elit. Optio doloremque, accusamus similique non eveniet culpa
    natus animi ipsum cumque accusantium vero cum eius consequuntur inventore voluptatem enim reiciendis
    iste saepe? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsum non laborum voluptatum
    autem consequuntur, temporibus possimus eum iusto eveniet suscipit nisi aliquam nihil omnis delectus
    consequatur harum facere similique? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio
    doloremque, accusamus similique non eveniet culpa natus animi ipsum cumque accusantium vero cum eius
    consequuntur inventore voluptatem enim reiciendis iste saepe? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Iure ipsum non laborum voluptatum autem consequuntur, temporibus possimus eum iusto
    eveniet suscipit nisi aliquam nihil omnis delectus consequatur harum facere similique? Lorem ipsum
    dolor sit amet, consectetur adipisicing elit. Optio doloremque, accusamus similique non eveniet culpa
    natus animi ipsum cumque accusantium vero cum eius consequuntur inventore voluptatem enim reiciendis
    iste saepe? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsum non laborum voluptatum
    autem consequuntur, temporibus possimus eum iusto eveniet suscipit nisi aliquam nihil omnis delectus
    consequatur harum facere similique? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio
    doloremque, accusamus similique non eveniet culpa natus animi ipsum cumque accusantium vero cum eius
    consequuntur inventore voluptatem enim reiciendis iste saepe? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Iure ipsum non laborum voluptatum autem consequuntur, temporibus possimus eum iusto
    eveniet suscipit nisi aliquam nihil omnis delectus consequatur harum facere similique? Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Iure ipsum non laborum voluptatum autem consequuntur,
    temporibus possimus eum iusto eveniet suscipit nisi aliquam nihil omnis delectus consequatur harum
    facere similique? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio doloremque, accusamus
    similique non eveniet culpa natus animi ipsum cumque accusantium vero cum eius consequuntur inventore
    voluptatem enim reiciendis iste saepe? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure
    ipsum non laborum voluptatum autem consequuntur, temporibus possimus eum iusto eveniet suscipit nisi
    aliquam nihil omnis delectus consequatur harum facere similique? Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Optio doloremque, accusamus similique non eveniet culpa natus animi ipsum cumque
    accusantium vero cum eius consequuntur inventore voluptatem enim reiciendis iste saepe? Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Iure ipsum non laborum voluptatum autem consequuntur,
    temporibus possimus eum iusto eveniet suscipit nisi aliquam nihil omnis delectus consequatur harum
    facere similique? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio doloremque, accusamus
    similique non eveniet culpa natus animi ipsum cumque accusantium vero cum eius consequuntur inventore
    voluptatem enim reiciendis iste saepe? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure
    ipsum non laborum voluptatum autem consequuntur, temporibus possimus eum iusto eveniet suscipit nisi
    aliquam nihil omnis delectus consequatur harum facere similique? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Iure ipsum non laborum voluptatum autem consequuntur, temporibus possimus eum iusto
    eveniet suscipit nisi aliquam nihil omnis delectus consequatur harum facere similique? Lorem ipsum
    dolor sit amet, consectetur adipisicing elit. Optio doloremque, accusamus similique non eveniet culpa
    natus animi ipsum cumque accusantium vero cum eius consequuntur inventore voluptatem enim reiciendis
    iste saepe? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsum non laborum voluptatum
    autem consequuntur, temporibus possimus eum iusto eveniet suscipit nisi aliquam nihil omnis delectus
    consequatur harum facere similique? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio
    doloremque, accusamus similique non eveniet culpa natus animi ipsum cumque accusantium vero cum eius
    consequuntur inventore voluptatem enim reiciendis iste saepe? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Iure ipsum non laborum voluptatum autem consequuntur, temporibus possimus eum iusto
    eveniet suscipit nisi aliquam nihil omnis delectus consequatur harum facere similique? Lorem ipsum
    <section id="process" class="bg-amber-200">EL PROCESO</section>
    dolor sit amet, consectetur adipisicing elit. Optio doloremque, accusamus similique non eveniet culpa
    natus animi ipsum cumque accusantium vero cum eius consequuntur inventore voluptatem enim reiciendis
    iste saepe? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsum non laborum voluptatum
    autem consequuntur, temporibus possimus eum iusto eveniet suscipit nisi aliquam nihil omnis delectus
    consequatur harum facere similique? voluptatem enim reiciendis iste saepe? Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Iure ipsum non laborum voluptatum autem consequuntur, temporibus
    possimus eum iusto eveniet suscipit nisi aliquam nihil omnis delectus consequatur harum facere similique?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio doloremque, accusamus similique non
    eveniet culpa natus animi ipsum cumque accusantium vero cum eius consequuntur inventore voluptatem
    enim reiciendis iste saepe? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsum non
    laborum voluptatum autem consequuntur, temporibus possimus eum iusto eveniet suscipit nisi aliquam
    nihil omnis delectus consequatur harum facere similique? Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Optio doloremque, accusamus similique non eveniet culpa natus animi ipsum cumque
    accusantium vero cum eius consequuntur inventore voluptatem enim reiciendis iste saepe? Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Iure ipsum non laborum voluptatum autem consequuntur,
    temporibus possimus eum iusto eveniet suscipit nisi aliquam nihil omnis delectus consequatur harum
    facere similique? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsum non laborum
    voluptatum autem consequuntur, temporibus possimus eum iusto eveniet suscipit nisi aliquam nihil
    omnis delectus consequatur harum facere similique? Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Optio doloremque, accusamus similique non eveniet culpa natus animi ipsum cumque accusantium
    vero cum eius consequuntur inventore voluptatem enim reiciendis iste saepe? Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Iure ipsum non laborum voluptatum autem consequuntur, temporibus
    possimus eum iusto eveniet suscipit nisi aliquam nihil omnis delectus consequatur harum facere similique?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio doloremque, accusamus similique non
    eveniet culpa natus animi ipsum cumque accusantium vero cum eius consequuntur inventore voluptatem
    enim reiciendis iste saepe? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsum non
    laborum voluptatum autem consequuntur, temporibus possimus eum iusto eveniet suscipit nisi aliquam
    nihil omnis delectus consequatur harum facere similique? Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Optio doloremque, accusamus similique non eveniet culpa natus animi ipsum cumque
    accusantium vero cum eius consequuntur inventore voluptatem enim reiciendis iste saepe? Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Iure ipsum non laborum voluptatum autem consequuntur,
    temporibus possimus eum iusto eveniet suscipit nisi aliquam nihil omnis delectus consequatur harum
    facere similique?
    <section id="conclusions" class="bg-amber-200">CONCLUSIONES</section>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio doloremque, accusamus similique non
    eveniet culpa natus animi ipsum cumque accusantium vero cum eius consequuntur inventore voluptatem
    enim reiciendis iste saepe? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsum non
    laborum voluptatum autem consequuntur, temporibus possimus eum iusto eveniet suscipit nisi aliquam
    nihil omnis delectus consequatur harum facere similique? Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Optio doloremque, accusamus similique non eveniet culpa natus animi ipsum cumque
    accusantium vero cum eius consequuntur inventore voluptatem enim reiciendis iste saepe? Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Iure ipsum non laborum voluptatum autem consequuntur,
    temporibus possimus eum iusto eveniet suscipit nisi aliquam nihil omnis delectus consequatur harum
    facere similique? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio doloremque, accusamus
    similique non eveniet culpa natus animi ipsum cumque accusantium vero cum eius consequuntur inventore
    voluptatem enim reiciendis iste saepe? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure
    ipsum non laborum voluptatum autem consequuntur, temporibus possimus eum iusto eveniet suscipit nisi
    aliquam nihil omnis delectus consequatur harum facere similique? Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Optio doloremque, accusamus similique non eveniet culpa natus animi ipsum cumque
    accusantium vero cum eius consequuntur inventore voluptatem enim reiciendis iste saepe? Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Iure ipsum non laborum voluptatum autem consequuntur,
    temporibus possimus eum iusto eveniet suscipit nisi aliquam nihil omnis delectus consequatur harum
    facere similique? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsum non laborum
    voluptatum autem consequuntur, temporibus possimus eum iusto eveniet suscipit nisi aliquam nihil
    omnis delectus consequatur harum facere similique? Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Optio doloremque, accusamus similique non eveniet culpa natus animi ipsum cumque accusantium
    vero cum eius consequuntur inventore voluptatem enim reiciendis iste saepe? Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Iure ipsum non laborum voluptatum autem consequuntur, temporibus
    possimus eum iusto eveniet suscipit nisi aliquam nihil omnis delectus consequatur harum facere similique?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio doloremque, accusamus similique non
    eveniet culpa natus animi ipsum cumque accusantium vero cum eius consequuntur inventore voluptatem
    enim reiciendis iste saepe? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsum non
    laborum voluptatum autem consequuntur, temporibus possimus eum iusto eveniet suscipit nisi aliquam
    nihil omnis delectus consequatur harum facere similique? Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Optio doloremque, accusamus similique non eveniet culpa natus animi ipsum cumque
    accusantium vero cum eius consequuntur inventore voluptatem enim reiciendis iste saepe? Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Iure ipsum non laborum voluptatum autem consequuntur,
    temporibus possimus eum iusto eveniet suscipit nisi aliquam nihil omnis delectus consequatur harum
    facere similique? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsum non laborum
    voluptatum autem consequuntur, temporibus possimus eum iusto eveniet suscipit nisi aliquam nihil
    omnis delectus consequatur harum facere similique? Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Optio doloremque, accusamus similique non eveniet culpa natus animi ipsum cumque accusantium
    vero cum eius consequuntur inventore voluptatem enim reiciendis iste saepe? Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Iure ipsum non laborum voluptatum autem consequuntur, temporibus
    possimus eum iusto eveniet suscipit nisi aliquam nihil omnis delectus consequatur harum facere similique?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio doloremque, accusamus similique non
    eveniet culpa natus animi ipsum cumque accusantium vero cum eius consequuntur inventore voluptatem
    enim reiciendis iste saepe? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsum non
    laborum voluptatum autem consequuntur, temporibus possimus eum iusto eveniet suscipit nisi aliquam
    nihil omnis delectus consequatur harum facere similique? Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Optio doloremque, accusamus similique non eveniet culpa natus animi ipsum cumque
    accusantium vero cum eius consequuntur inventore voluptatem enim reiciendis iste saepe? Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Iure ipsum non laborum voluptatum autem consequuntur,
    temporibus possimus eum iusto eveniet suscipit nisi aliquam nihil omnis delectus consequatur harum
    facere similique?
  </div>
</Project>
