---
import Layout from "@/layouts/Layout.astro"
---

<Layout>
  <div class="flex flex-col gap6">
    <a href="/projects/freelance/rebuilding-cities-gender-perspective"
      >Rebuilding Cities with a Gender Perspective</a
    >
    <a href="/projects/freelance/ink">INK - Branding & Web Design for a Creative Studio</a>
    <a href="/projects/freelance/kingsugi">Kingsugi - Restoring the Broken</a>
    <a href="/projects/freelance/atid">ATID - A Tool for Inclusive Urban Development</a>
  </div>
</Layout>
