---
import MobileNav from "@/components/MobileNav.astro"
import { ClientRouter } from "astro:transitions"
import DesktopNav from "../components/DesktopNav.astro"
import "../styles/global.css"
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Dalia" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- SEO b谩sico -->
    <meta
      name="description"
      content="Dalia Rubio | UX/UI Designer | Product Designer | Researcher"
    />
    <meta
      name="keywords"
      content="UI, UX, dise帽o de interfaces, product design, portfolio, researcher, sevilla, madrid, barcelona, alicante"
    />
    <meta name="author" content="Dalia L贸pez Rubio" />

    <!-- Open Graph (para redes sociales) -->
    <meta
      property="og:title"
      content="Dalia Rubio | UX/UI Designer | Product Designer | Researcher"
    />
    <meta
      property="og:description"
      content=" Transformando ideas en experiencias impactantes. 隆Hola! Soy Dalia, una apasionada UX/UI Designer con un enfoque centrado en el usuario y una s贸lida experiencia en la creaci贸n de experiencias digitales."
    />
    <meta property="og:image" content="/preview.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://dalialopezrubio.com/" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Dalia Rubio | UX/UI Designer | Product Designer | Researcher"
    />
    <meta
      name="twitter:description"
      content=" Transformando ideas en experiencias impactantes. 隆Hola! Soy Dalia, una apasionada UX/UI Designer con un enfoque centrado en el usuario y una s贸lida experiencia en la creaci贸n de experiencias digitales."
    />
    <meta name="twitter:image" content="/preview.png" />

    <link rel="canonical" href="https://dalialopezrubio.com" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>Dalia Rubio | UX/UI</title>
    <ClientRouter />
  </head>
  <body>
    <main class="max-w-7xl mx-auto">
      <DesktopNav />
      <MobileNav />
      <div
        id="portfolio-content"
        class="inline-block mt-20 sm:mt-12 w-full px-4 2xl:px-0 mb-10 overflow-x-visible"
      >
        <slot />
      </div>
    </main>
  </body>
</html>
